@using ToDo.Web.Helpers
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResource> SharedLocalizer


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="heading-image"></div>

    <div class="nav">
        <a class="@Html.IsSelected("Do", "Index")" asp-controller="Do" asp-action="Index">@SharedLocalizer["Home"]</a>
        <a class="@Html.IsSelected("Do", "Create")" asp-controller="Do" asp-action="Create">@SharedLocalizer["CreateToDo"]</a>
    </div>

    @if (TempData["Message"] != null)
    {
        <div class="created">@TempData["Message"]</div>
    }

    @RenderBody()

    <div class="footer">
        <p>Footer</p>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
